.table {
    margin: 0 auto;
    margin-top: 100px;
    width: 450px;
    border-collapse: collapse;
}   

.topTableElement {
    width: 150px;
    background-color: #331a00;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
}

tbody tr:nth-child(even) {
    background-color: #d3d3d3;
} 

